.movies {
  max-width: 1140px;
  padding: 0 70px;
}

@media screen and (max-width: 768px) {
  .movies {
    max-width: 708px;
    padding: 0 30px;
  }
}

@media screen and (max-width: 320px) {
  .movies {
    max-width: 300px;
    padding: 0 10px;
    margin-bottom: 40px;
  }
}
