.saved-movies {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .saved-movies {
    max-width: 708px;
  }
}

@media screen and (max-width: 320px) {
  .saved-movies {
    max-width: 300px;
  }
}
