.about-project {
  max-width: 1280px;
  height: 608px;
  margin: 0 70px;
}

@media screen and (max-width: 768px) {
  .about-project {
    max-width: 768px;
    margin: 0 50px;
  }
}

@media screen and (max-width: 320px) {
  .about-project {
    max-width: 284px;
    margin: 0 18px;
    height: 641px;
  }
}

.section__title {
  margin: 0;
  padding: 110px 0 23px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 22px;
  line-height: 27px;
  border-bottom: 1px solid black;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 768px) {
  .section__title {
    padding: 90px 0 23px;
  }
}

@media screen and (max-width: 320px) {
  .section__title {
    padding: 70px 0 28px;
    font-size: 18px;
    line-height: 22px;
  }
}

.about-project__info {
  margin-top: 70px;
  margin-bottom: 110px;
  display: flex;
  justify-content: space-between;
  column-gap: 30px;
}

@media screen and (max-width: 768px) {
  .about-project__info {
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 320px) {
  .about-project__info {
    flex-direction: column;
    margin: 60px 0 0;
  }
}

.about-project__description {
  max-width: 550px;
  height: 90px;
}

@media screen and (max-width: 768px) {
  .about-project__description {
    max-width: 319px;
    height: 124px;
  }
}

@media screen and (max-width: 320px) {
  .about-project__description {
    max-width: 284px;
    height: 108px;
    padding-bottom: 56px;
  }
}

.about-project__subtitle {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.04em;
}

@media screen and (max-width: 320px) {
  .about-project__subtitle {
    font-size: 18px;
    line-height: 22px;
  }
}

.about-project__paragraph {
  margin: 0;
  padding-top: 26px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
}

@media screen and (max-width: 320px) {
  .about-project__paragraph {
    padding-top: 16px;
    font-size: 11px;
    line-height: 16px;
  }
}

.about-project-graph {
  display: flex;
  justify-content: center;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  width: 100%;
}

@media screen and (max-width: 320px) {
  .about-project-graph {
    font-size: 11px;
    line-height: 13px;
  }
}

.about-project-graph__backend {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 228px;
  height: 36px;
  background-color: black;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .about-project-graph__backend {
    max-width: 140px;
  }
}

@media screen and (max-width: 320px) {
  .about-project-graph__backend {
    width: 100%;
    max-width: 100px;
  }
}

.about-project-graph__frontend {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 912px;
  height: 36px;
  background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
  .about-project-graph__frontend {
    max-width: 528px;
  }
}

@media screen and (max-width: 320px) {
  .about-project-graph__frontend {
    max-width: 184px;
  }
}

.about-project-graph_text {
  background-color: white;
  color: #a0a0a0;
  padding-top: 5px;
}

@media screen and (max-width: 320px) {
  .about-project-graph_text {
    padding: 0;
  }
}