.register {
  margin: 0 auto;
  width: 100%;
  max-width: 396px;
}

@media screen and (max-width: 320px) {
  .register {
    max-width: 260px;
  }
}

.title {
  margin: 0;
  margin-top: 40px;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
}

@media screen and (max-width: 320px) {
  .title {
    text-align: center;
  }
}

.form {
  margin-top: 40px;
  min-height: 380px;
}

@media screen and (max-width: 320px) {
  .form {
    margin-top: 80px;
    min-height: 527px;
  }
}

.form__inputs {
  margin-bottom: 20px;
}

.form__text {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
}

.form__input {
  width: 100%;
  max-width: 396px;
  padding: 0;
  margin-top: 10px;
  border: none;
  height: 46px;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.form__input::placeholder {
  color: #000000;
  padding-left: 15px;
}

.form__span {
  color: #ff4062;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
}

.form__submit {
  margin: 52px auto 16px;
  width: 100%;
  max-width: 396px;
  height: 45px;
  color: #ffffff;
  background-color: #000000;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 320px) {
  .form__submit {
    margin: 140px auto 14px;
  }
}

.login__links {
  display: flex;
  justify-content: center;
}

.login__text {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #a0a0a0;
}

@media screen and (max-width: 320px) {
    .login__text {
      font-size: 12px;
      line-height: 15px;
    }
  }

.login__text_link {
  color: #000000;
  padding-left: 6px;
  cursor: pointer;
}

.login__text_link:hover {
  opacity: 0.5;
}

.login__logo {
  width: 38px;
  height: 38px;
  margin-top: 18px;
}

@media screen and (max-width: 320px) {
  .login__logo {
    display: flex;
    margin: 56px auto 50px;
  }
}
