.footer {
  max-width: 1280px;
  height: 172px;
  padding: 0 70px;
}

@media screen and (max-width: 768px) {
  .footer {
    max-width: 768px;
    padding: 0 30px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 300px;
    padding: 0 10px;
  }
}

.footer__title {
  margin: 0;
  padding: 79px 0 20px;
  color: #a0a0a0;
  text-align: center;
  border-bottom: 1px solid #e8e8e8;
  font-family: "Inter", Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}

@media screen and (max-width: 320px) {
  .footer__title {
    border-bottom: 1px solid #e8e8e8;
    font-size: 12px;
    line-height: 15px;
    padding-top: 59px;
  }
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

@media screen and (max-width: 320px) {
  .footer__container {
    flex-direction: column-reverse;
  }

  .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.footer__copyright {
  margin: 0;
  font-family: "Inter", Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
}



.footer__nav-link {
  text-decoration: none;
  font-family: "Inter", Arial, sans-serif;
  font-size: 13px;
  line-height: 16px;
  font-weight: 400;
  color: black;
  padding-left: 20px;
}

.footer__nav-link:hover {
  opacity: 0.5;
}


@media screen and (max-width: 320px) {
    .footer__copyright {
        text-align: center;
        padding-top: 30px;
        color: #A0A0A0;
    }

    .footer__nav-link {
        padding: 0;
        padding-top: 12px;
    }
}